

h1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 3em;
  margin-right: 20px;
  color: salmon;
}

h2 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 2em;
  margin-bottom: 10px;
  color: salmon;
}

h3{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
  color: salmon;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  line-height: 1.3em;
  color: orange;
}

body {
  background-color: salmon;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(19, 95, 187);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  
}
img {
  border: 2px solid rgb(19, 95, 187);
  background-color: rgb(19, 95, 187);
  border-radius: 20px;
}
header img{
  height: 80%;
}

header h1{
  padding-right: 20px;
}


section {
  width: 100%;
  padding-left: 10px;
  margin-bottom: 20px;
}
#firstRow {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#firstRow article {
  width: 50%;
}

#secondRow, #thirdRow{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

}

div{
  width: 45%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
article{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(19, 95, 187);
  border: 3px solid rgb(19, 95, 187);
  border-radius: 10px;
  padding: 10px;
  text-align: center;

}

#fourthRow {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#fourthRowDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fourthRowDiv article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

/* #fourthRowDiv article h2{
  margin-bottom: 10px;
} */

nav {
  border: 2px solid salmon;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: orange;
  
}

footer {
  width: 100%;
  height: 40px;
  background-color: rgb(19, 95, 187);
}

footer p {
  padding-top: 10px;
  padding-left: 20px;
}